---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nagp-user-details
  labels:
    app: nagp-user-details
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nagp-user-details
  template:
    metadata:
      labels:
        app: nagp-user-details
    spec:
      containers:
        - name: nagp-user-details
          image: prateek91sharma/nagp-user-service:latest
          env:
          - name: spring.datasource.url
            value: jdbc:mysql://mysql:3306/test
          ports:
            - containerPort: 80
---

apiVersion: v1
kind: Service
metadata:
  name: user-details
spec:
  selector:
    app: nagp-user-details
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer    
  
---
#MySQL PVC

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  storageClassName: ebs-sc
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
      
---

kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: ebs-sc
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer
---

apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
  selector:
    app: mysql
  type: LoadBalancer  
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - image: mysql:5.6
        name: mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: root
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim

